<?xml version="1.0"?>
<robot name="uav" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find uav_gazebo)/urdf/uav.gazebo" />

  <link name="link">
    <pose>0 0 0.2 0 0 0</pose>
    <inertial>
      <mass value="1.95"/>
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.04"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://uav_gazebo/meshes/quadrotor_base.dae"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://uav_gazebo/meshes/quadrotor_base.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
